<!--PART 5 OF TASK 3:FORM PAGE
SOHAYLA IHAB HAMED 
19P7343-->
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Contact Us</title>
  <link rel="stylesheet" href="external.css">    <!--STYLESHEET IS APPLICABLE TO ENTIRE DOC-->
</head>

<body>
  <h1>
   Contact Us
  </h1>
  <form> 
  <fieldset>
  <legend>PERSONALIA</legend>
<label class="format"for="fname">First name</label>
&emsp;&emsp;<input type="text"  id="fname" name="FirstName">
&emsp;&emsp;<label class="format"for="mname">Middle name</label>
<input type="text"  id="mname" name="MiddleName">
&emsp;&emsp;<label class="format"for="lname">Last name</label>
<input type="text"  id="lname" name="LastName">
</fieldset>
<br></br>
&emsp;&emsp;<label class="format"for="complaintletter">Attach complaint letter</label>
<input type="file"  id="complaintletter" name="ComplaintLetter">  
<br></br>
<label class="format" for="fmail">Email</label>
&emsp;&emsp;&emsp;&ensp;&nbsp;<input type="text"  id="fmail" name="Email">
<pre><label class="format"for="fmsg">Message</label></pre>
&emsp;<textarea name="input_msg" id="fmsg" cols="50" rows="5"></textarea>  
&emsp;&emsp;<input type="submit" value="submit">
&emsp;&emsp;<input type="reset" value="reset">
</form>
  <br></br>
 
<table>
<tr>
<th>Service</th>
<th>Opening Hours</th>
<th>Location</th>
</tr>
<tr>
<td>Issue pre-printed library cards</td>
<td>Friday/Saturday(10am-5pm)</td>
<td>Issue/Reader Services desk</td>
</tr>
<tr>
<td>Self-issue Loans and Returns</td>
<td>All times</td>
<td>Library Building Level 2</td>
</tr>
<tr>
<td>Subject Librarians Support</td>
<td>Monday to Friday (9am-5pm)</td>
<td><a href="https://library.bath.ac.uk/">Online<a>/Library Building</td>
</tr>
<tr>
<td>Copying and Printing</td>
<td>Monday to Friday (9am-5pm)</td>  
<td>Level 2 of the Library</td>
</tr>
</table>
  <br></br> 
</body>
</html>