img.arlogo{
  position: absolute;
  width: 137px;
  height: 138px;
  left: 0px;
  top: 1px;
}
img.englogo{
  position: absolute;
  width: 137px;
  height: 54px;
  left: 0px;
  top: 139px;
}
img.qanun{
  position: left;
  width: 225px;
  height: 192px;
  left: 367px;
  top: 0px;

  /*transform: matrix(1, 0, 1, 0, 0, 0);*/
}
img.drums{
  position: left;
  width: 179px;
  height: 192px;
  left: 373px;
  top: -2px;
}
img.mic{
  position: left;
  width: 174px;
  height: 192px;
  left: 557px;
  top: 0px;
}
img.violin{
  position:left;
  width: 249px;
  height: 192px;
  left: 737px;
  top: 2px;
}
img.piano{
  position: left;
  width: 253px;
  height: 192px;
  left: 992px;
  top: -2px;
}
div.container {
  position: absolute;
  width: 1533px;
  height: 193px;
  left: 0px;
  top: 0px;
  
  background: rgba(205, 121, 121, 0.6);
  }
div.column{
    float: left;
    width: 33.33%;
    padding: 5px;
}  
div.box {
  width: 100%;
  height: 10%;
  left: 0px;
  top: 669px;
    position: fixed;
    margin-top: 5px;
    margin-bottom: 0px;
    padding-bottom: 10px;
    background-color: #000000;
  }
  
div.overlay {
    z-index: 9;
    margin: 30px;
    background:  rgba(7, 6, 79, 0.91);
  }
h1{
padding-top: 167px;
width: 335px;
height: 108px;
padding-left: 457px;

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 54px;
line-height: 77px;
display: flex;
align-items: center;

color: rgba(7, 6, 79, 0.91);
}
body {font-family: Arial, Helvetica, sans-serif;}
form {
  /*border: 3px solid #f1f1f1;*/
  width: 500px;
  margin-top: auto;
  padding-left: 500px;
}
input[type=text], input[type=password] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
}
button {
  background-color: rgba(7, 6, 79, 0.91);
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
}
button:hover {
  opacity: 0.8;
}
button.cancelbtn {
  width:auto;
  margin-top: 10px;
  padding: 10px 18px;
  background-color: #f44336;
}
div.designborder{
  border: 3px solid hsl(0, 0%, 0%);
}